* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微软雅黑";
}
body {
  font: 12/1.5 tahoma, arial, "Hiragino Sans GB", "微软雅黑";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
}
header {
  width: 100%;
  height: 90px;
  background: #FFFFFF;
  padding-top: 0.1px;
}
header .top {
  width: 1200px;
  margin: 0 auto;
}
header .top .logo {
  float: left;
  padding-top: 30px;
}
.nav {
  width: 800px;
  height: 90px;
  float: right;
  font-size: 15px;
}
.nav li {
  float: left;
  height: 90px;
  line-height: 90px;
  text-align: center;
}
.nav li a {
  display: inline-block;
  width: 80px;
  height: 90px;
}
.nav li a.current,
.nav li a:hover {
  color: #FF000E;
  border-bottom: 3px solid #FF000E;
}
.nav .nav-phone {
  width: 200px;
  text-align: left;
  background: url("../images/phone.png") no-repeat;
  background-position: left center;
  margin-left: 25px;
  padding-left: 25px;
}
.erweima {
  display: none;
  position: fixed;
  top: 220px;
  right: 190px;
  width: 116px;
  height: 110px;
  z-index: 999;
}
.weixin {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 120px;
  top: 220px;
  z-index: 999;
}
.kefu {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 120px;
  top: 290px;
  z-index: 999;
}
.goTop {
  width: 60px;
  height: 60px;
  background: url("../images/backtop.png") no-repeat;
  position: fixed;
  right: 120px;
  top: 360px;
  z-index: 999;
  cursor: pointer;
}
.banner {
  padding-top: 0.1px;
  width: 100%;
  height: 520px;
  background: url(../images/banner.png) no-repeat center center;
}
.banner1 {
  margin: 360px 250px 0 auto;
  width: 190px;
  height: 60px;
  display: block;
  text-align: center;
  line-height: 60px;
  background: #FF000E;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
}
.main {
  width: 100%;
  height: 600px;
  background: #fdfdfd;
  margin: 0 auto;
}
.main-top {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}
.main-top h1 {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  font-size: 34px;
  font-weight: normal;
  color: #FF000E;
}
.main-top h1 span {
  font-size: 34px;
  color: #000;
}
.left {
  width: 580px;
  height: 477px;
  margin: 0 auto;
  float: left;
  display: inline;
}
.left h3 {
  padding-bottom: 30px;
  padding-top: 60px;
  font-size: 24px;
  color: #FF000E;
  font-weight: normal;
}
.left p {
  width: 100%;
  font-size: 19px;
  color: #333333;
}
.left p:nth-child(6) {
  padding-bottom: 30px;
}
.right {
  width: 620px;
  height: 350px;
  margin: 0 auto;
  float: right;
  display: inline;
}
.right img {
  padding-top: 60px;
}
.bespeak {
  width: 190px;
  height: 60px;
  display: block;
  text-align: center;
  line-height: 60px;
  background: #FF000E;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.bespeak:hover {
  background: #fe5b56;
}
.main-bottom {
  width: 1200px;
  margin: 0 auto;
}
.main-bottom h1 {
  padding-top: 60px;
  text-align: center;
  font-size: 34px;
  font-weight: normal;
}
.main-bottom h1 span {
  font-size: 40px;
  color: #FF000E;
}
.bottom-row {
  width: 1200px;
  height: 450px;
  margin: 0 auto;
  margin-top: 50px;
}
.bottom-row .rowcon {
  width: 400px;
  height: 450px;
  float: left;
}
.bottom-row .rowcon .row {
  width: 320px;
  height: 200px;
  float: left;
  margin-left: 40px;
  display: inline-block;
}
.bottom-row .rowcon .row span:nth-child(1) {
  width: 70px;
  height: 85px;
  font-size: 60px;
  color: #ccc;
  float: left;
}
.bottom-row .rowcon .row span:nth-child(2) {
  font-size: 24px;
  display: inline-block;
  float: left;
  width: 250px;
  height: 85px;
  line-height: 85px;
  text-align: left;
}
.bottom-row .rowcon .row span:nth-child(3) {
  display: inline-block;
  width: 250px;
  height: 115px;
  font-size: 16px;
  float: right;
}
.bottom-row .row1 {
  width: 400px;
  height: 450px;
  float: left;
}
.bottom-row .row1 img {
  display: block;
  margin: 0 auto;
}
.bottom-row .rowcon1 {
  width: 400px;
  height: 450px;
  float: right;
}
.bottom-row .rowcon1 .row2 {
  width: 320px;
  height: 200px;
  float: left;
  margin-left: 40px;
  display: inline-block;
}
.bottom-row .rowcon1 .row2 span:nth-child(1) {
  width: 70px;
  height: 85px;
  font-size: 60px;
  color: #ccc;
  float: left;
}
.bottom-row .rowcon1 .row2 span:nth-child(2) {
  font-size: 24px;
  display: inline-block;
  float: left;
  width: 250px;
  height: 85px;
  line-height: 85px;
  text-align: left;
}
.bottom-row .rowcon1 .row2 span:nth-child(3) {
  display: inline-block;
  width: 250px;
  height: 115px;
  font-size: 16px;
  float: right;
}
.bespeakt {
  margin: 40px auto 100px;
  width: 190px;
  height: 60px;
  display: block;
  text-align: center;
  line-height: 60px;
  background: #FF000E;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.audition {
  width: 100%;
  height: 60px;
  background: #4c4c4c;
  z-index: 998;
  position: fixed;
  bottom: 0;
}
.audition form {
  width: 920px;
  margin: 0 auto;
}
.audition input {
  width: 210px;
  height: 32px;
  border: 1px solid #fff;
  background: #fff;
  margin-top: 14px;
  margin-left: 10px;
  font-size: 16px;
}
.audition select {
  width: 90px;
  height: 34px;
  border: none;
  margin-top: 14px;
  margin-left: 5px;
}
.audition button {
  width: 125px;
  height: 40px;
  border-radius: 5px;
  background: #FF000E;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 30px;
  text-align: center;
  line-height: 40px;
  text-indent: 0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 60px;
  background: #333333;
  margin: 0 auto;
}
.footer p {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  line-height: 40px;
  color: #ddd;
}
.footer a {
  display: block;
  width: 400px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: url("../images/beian.png") no-repeat;
  background-position-x: 60px;
  cursor: pointer;
  margin: 0 auto;
  color: #ddd;
}
.maskt {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.tcyy {
  position: fixed;
  display: none;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 804px;
  height: 400px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #fff;
  margin-top: 10%;
  z-index: 999;
}
.tcyyl {
  width: 399px;
  height: 100%;
  color: #444;
  font-size: 22px;
  padding-top: 90px;
  padding-left: 15px;
}
.tcyyl p {
  display: inline-block;
  width: 100%;
  margin-left: 60px;
  float: left;
}
.hr {
  width: 3px;
  height: 220px;
  background: #bcbcbc;
  margin-top: 0;
}
.tcyyr {
  width: 400px;
  height: 100%;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}
.tcyyr input {
  width: 310px;
  height: 42px;
  text-indent: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  margin: 10px 0;
}
.tcyyr input:first-child {
  margin-top: 100px;
}
.tcyyr select {
  width: 100px;
  height: 42px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #FFFFFF;
  color: #333;
}
.tcyyr button {
  width: 240px;
  height: 46px;
  background: #ea5d64;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
  line-height: 46px;
  border-radius: 10px;
  border: none;
}
.guanbi {
  color: #bcbcbc;
  width: 24px;
  height: 24px;
  background: url("../images/closeico.png");
  margin-top: 20px;
  margin-right: 20px;
  font-size: 22px;
  text-indent: 90%;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
